In [1]:
import math
import matplotlib
from decimal import ROUND_HALF_UP, Decimal
import numpy as np
import pandas as pd
import seaborn as sns
import time
import talib
import copy

from datetime import date, datetime, time, timedelta
from matplotlib import pyplot as plt
from pylab import rcParams
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from tqdm import tqdm_notebook
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
from keras.utils import plot_model, timeseries_dataset_from_array

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

#### Input params ##################
test_size = 0.2                 # proportion of dataset to be used as test set
val_size = 0.2                   # proportion of dataset to be used as cross-validation set
Nmax = 21                       # for feature at day t, we use lags from t-1, t-2, ..., t-N as features
                                # Nmax is the maximum N we are going to test

2023-05-31 15:56:22.696440: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_csv("~/study/optimal_investment/stock-market-prediction-project/data/train_files/stock_prices.csv")
# df = pd.read_csv("~/study/optimal_investment/stock-market-prediction-project/data/supplemental_files/stock_prices.csv")
data = df.copy()
data.drop(["RowId"], axis=1, inplace=True)
# print(df.shape)
data

,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324
2,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,NaN,False,0.006154
3,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,NaN,False,0.011053
4,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,NaN,False,0.003026
...,...,...,...,...,...,...,...,...,...,...,...
2332526,2021-12-03,9990,514.0,528.0,513.0,528.0,44200,1.0,NaN,False,0.034816
2332527,2021-12-03,9991,782.0,794.0,782.0,794.0,35900,1.0,NaN,False,0.025478
2332528,2021-12-03,9993,1690.0,1690.0,1645.0,1645.0,7200,1.0,NaN,False,-0.004302
2332529,2021-12-03,9994,2388.0,2396.0,2380.0,2389.0,6500,1.0,NaN,False,0.009098
2332530,2021-12-03,9997,690.0,711.0,686.0,696.0,381100,1.0,NaN,False,0.018414

### Calculate Adjusted Close value

In [3]:
def adjust_price(price):
    price.loc[: ,"Date"] = pd.to_datetime(price.loc[: ,"Date"], format="%Y-%m-%d")
    def generate_adjusted_close(df):
        df = df.sort_values("Date", ascending=False)
        df.loc[:, "CumulativeAdjustmentFactor"] = df["AdjustmentFactor"].cumprod()
        df.loc[:, "AdjustedClose"] = (
            df["CumulativeAdjustmentFactor"] * df["Close"]
        ).map(lambda x: float(
            Decimal(str(x)).quantize(Decimal('0.1'), rounding=ROUND_HALF_UP)
        ))
        df = df.sort_values("Date")
        df.loc[df["AdjustedClose"] == 0, "AdjustedClose"] = np.nan
        df.loc[:, "AdjustedClose"] = df.loc[:, "AdjustedClose"].ffill()
        return df

    price = price.sort_values(["SecuritiesCode", "Date"])
    price = price.groupby("SecuritiesCode").apply(generate_adjusted_close).reset_index(drop=True)

    return price

In [4]:
df = adjust_price(df)
df = df.drop(["AdjustmentFactor", "ExpectedDividend", "SupervisionFlag", "CumulativeAdjustmentFactor", "RowId"], axis=1)
df.head()

,Date,SecuritiesCode,Open,High,Low,Close,Volume,Target,AdjustedClose
0,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,0.000730,2742.0
1,2017-01-05,1301,2743.0,2747.0,2735.0,2738.0,17900,0.002920,2738.0
2,2017-01-06,1301,2734.0,2744.0,2720.0,2740.0,19900,-0.001092,2740.0
3,2017-01-10,1301,2745.0,2754.0,2735.0,2748.0,24200,-0.005100,2748.0
4,2017-01-11,1301,2748.0,2752.0,2737.0,2745.0,9300,-0.003295,2745.0

In [5]:
df["Close"] == df["AdjustedClose"]
df = df.drop(["AdjustedClose"], axis=1)
df.head()

        Date  SecuritiesCode    Open    High     Low   Close  Volume    Target
0 2017-01-04            1301  2734.0  2755.0  2730.0  2742.0   31400  0.000730
1 2017-01-05            1301  2743.0  2747.0  2735.0  2738.0   17900  0.002920
2 2017-01-06            1301  2734.0  2744.0  2720.0  2740.0   19900 -0.001092
3 2017-01-10            1301  2745.0  2754.0  2735.0  2748.0   24200 -0.005100
4 2017-01-11            1301  2748.0  2752.0  2737.0  2745.0    9300 -0.003295

### Calculate technical indicators

Let's see where is NaN values

In [7]:
df.isna().sum()

Date                 0
SecuritiesCode       0
Open              7608
High              7608
Low               7608
Close             7608
Volume               0
Target             238
dtype: int64

In [8]:
high_nans = df[pd.isnull(df.High)]
h = high_nans[["SecuritiesCode", "High"]].set_index("SecuritiesCode")
h.fillna(0, inplace=True)
print(f"Unique Nan count for each stock: {h.groupby(level=0).count().High.unique()}")
# h.groupby(level=0).count()
high_nans[df.SecuritiesCode == 1787]

Unique Nan count for each stock: [  1   3  18   5 280  68  20 283   4   2  21  12  14  17  26   7 347   8
  83  97  82  45 237 115   9   6 282 225 285  16 269  27  89 279 186  52
  23  55  76  19 106  22 101  62  77  37  13 105 163 144 161  35 351  24
  36  46 174]

            Date  SecuritiesCode  Open  High  Low  Close  Volume    Target
36914 2017-01-17            1787   NaN   NaN  NaN    NaN       0 -0.004049
36917 2017-01-20            1787   NaN   NaN  NaN    NaN       0  0.000000
36919 2017-01-24            1787   NaN   NaN  NaN    NaN       0  0.008000
36926 2017-02-02            1787   NaN   NaN  NaN    NaN       0  0.000000
36929 2017-02-07            1787   NaN   NaN  NaN    NaN       0  0.003197
...          ...             ...   ...   ...  ...    ...     ...       ...
38096 2021-11-17            1787   NaN   NaN  NaN    NaN       0  0.000000
38097 2021-11-18            1787   NaN   NaN  NaN    NaN       0  0.014235
38098 2021-11-19            1787   NaN   NaN  NaN    NaN       0  0.008772
38104 2021-11-30            1787   NaN   NaN  NaN    NaN       0  0.031301
38107 2021-12-03            1787   NaN   NaN  NaN    NaN       0 -0.030351

[280 rows x 8 columns]

It turns out that for each time series matching a particular stock, we have NaN values twice or more in a row

Fill NaN values using splain interpolation:

In [9]:
sec_codes = df.SecuritiesCode.unique().tolist()
for code in sec_codes:
    df.loc[df.SecuritiesCode == code, "Target"] = df[df.SecuritiesCode == code]["Target"].interpolate(method='spline', order=3, limit_direction='both')
    df.loc[df.SecuritiesCode == code, "High"] = df[df.SecuritiesCode == code]["High"].interpolate(method='spline', order=3, limit_direction='both')
    df.loc[df.SecuritiesCode == code, "Low"] = df[df.SecuritiesCode == code]["Low"].interpolate(method='spline', order=3, limit_direction='both')
    df.loc[df.SecuritiesCode == code , "Close"] = df[df.SecuritiesCode == code]["Close"].interpolate(method='spline', order=3, limit_direction='both')
    df.loc[df.SecuritiesCode == code , "Open"] = df[df.SecuritiesCode == code]["Open"].interpolate(method='spline', order=3, limit_direction='both')

In [10]:
df.isna().sum()

Date              0
SecuritiesCode    0
Open              0
High              0
Low               0
Close             0
Volume            0
Target            0
dtype: int64

In [11]:
# initialize emtpy DataFrame with technical indicators
ti = ["SMA", "WMA", "MOM", "ADO", "CCI", "RSI", "LWR", "MACD", "STCK", "STCD"]
df_ti = pd.DataFrame(np.nan, index=[i for i in range(df.shape[0])], columns=ti)
df_ti

         SMA  WMA  MOM  ADO  CCI  RSI  LWR  MACD  STCK  STCD
0        NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
1        NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
2        NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
3        NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
4        NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
...      ...  ...  ...  ...  ...  ...  ...   ...   ...   ...
2332526  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
2332527  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
2332528  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
2332529  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
2332530  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN

[2332531 rows x 10 columns]

In [12]:
SMA_index = df_ti.columns.get_loc("SMA")
WMA_index = df_ti.columns.get_loc("WMA")
MOM_index = df_ti.columns.get_loc("MOM")
ADO_index = df_ti.columns.get_loc("ADO")
CCI_index = df_ti.columns.get_loc("CCI")
RSI_index = df_ti.columns.get_loc("RSI")
LWR_index = df_ti.columns.get_loc("LWR")
MACD_index = df_ti.columns.get_loc("MACD")
STCK_index = df_ti.columns.get_loc("STCK")
STCD_index = df_ti.columns.get_loc("STCD")

for code in sec_codes:
    stock_indexes = df[df.SecuritiesCode == code].index.to_list()
    stock_values = df.iloc[stock_indexes]
    df_ti.iloc[stock_indexes, SMA_index] = talib.SMA(stock_values.Close, timeperiod=10)
    df_ti.iloc[stock_indexes, WMA_index] = talib.WMA(stock_values.Close, timeperiod=14)
    df_ti.iloc[stock_indexes, MOM_index] = talib.MOM(stock_values.Close, timeperiod=10)
    df_ti.iloc[stock_indexes, ADO_index] = talib.ADOSC(stock_values.High, stock_values.Low, stock_values.Close, stock_values.Volume)
    df_ti.iloc[stock_indexes, CCI_index] = talib.CCI(stock_values.High, stock_values.Low, stock_values.Close, timeperiod=10)
    df_ti.iloc[stock_indexes, RSI_index] = talib.RSI(stock_values.Close, timeperiod=10)
    df_ti.iloc[stock_indexes, LWR_index] = talib.WILLR(stock_values.High, stock_values.Low, stock_values.Close, timeperiod=10)
    df_ti.iloc[stock_indexes, MACD_index] = talib.MACD(stock_values.Close, signalperiod=10)[0]
    df_ti.iloc[stock_indexes, STCK_index] = talib.STOCH(stock_values.High, stock_values.Low, stock_values.Close)[0]
    df_ti.iloc[stock_indexes, STCD_index] = talib.STOCH(stock_values.High, stock_values.Low, stock_values.Close)[1]

In [13]:
# df_ti.SMA
df_ti[:40]

,SMA,WMA,MOM,ADO,CCI,RSI,LWR,MACD,STCK,STCD
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.920764,36.255299
9,2725.0,NaN,NaN,2936.575048,-129.141566,NaN,-82.432432,NaN,13.068120,22.435180
10,2720.7,NaN,-43.0,620.384684,-63.209877,25.842697,-75.342466,NaN,20.715316,17.568067
11,2720.6,NaN,-1.0,7889.180928,29.037391,49.703641,-23.287671,NaN,52.143888,28.642441
12,2718.6,NaN,-20.0,9512.566771,14.184397,42.850191,-46.575342,NaN,68.792517,47.217240
13,2716.5,2718.209524,-21.0,14733.718545,42.024833,46.241554,-35.211268,NaN,83.928571,68.288325
14,2715.1,2719.171429,-14.0,15899.795732,85.842852,48.193481,-24.242424,NaN,79.277409,77.332832
15,2715.3,2720.504762,2.0,13900.482242,94.051180,49.217847,-10.344828,NaN,83.514103,82.240028
16,2715.8,2721.085714,5.0,6676.593373,69.067664,46.174498,-20.689655,NaN,74.651669,79.147727
17,2718.8,2722.723810,30.0,8364.403074,60.677699,50.168748,-8.620690,NaN,71.366324,76.510699
18,2722.4,2722.895238,36.0,7654.129491,8.707301,43.955720,-29.310345,NaN,53.637566,66.551853
19,2726.5,2725.019048,41.0,11949.551253,41.853513,51.226392,-8.888889,NaN,62.896825,62.633572
20,2729.5,2726.304762,30.0,11145.239794,39.591315,48.030958,-29.411765,NaN,56.944444,57.826279
21,2727.8,2726.323810,-17.0,4616.636034,-60.931900,43.507703,-70.370370,NaN,55.158730,58.333333
22,2728.3,2726.857143,5.0,526.684161,-47.720798,46.611292,-58.333333,NaN,43.253968,51.785714
23,2728.7,2727.819048,4.0,-207.994711,37.037037,50.255153,-33.333333,NaN,48.370927,48.927875
24,2729.3,2729.228571,6.0,4760.363452,91.900312,53.761640,-8.333333,NaN,73.767753,55.130883
25,2729.7,2730.276190,4.0,6886.559576,152.173913,53.761640,-31.250000,NaN,79.733817,67.290832
26,2731.5,2732.390476,18.0,9215.630897,205.128205,58.568967,-14.285714,NaN,83.297414,78.932995
27,2736.3,2739.200000,48.0,15907.369937,267.018006,72.996466,-9.459459,NaN,79.707670,80.912967
28,2744.2,2748.019048,79.0,20059.381065,206.278581,77.472451,-16.831683,NaN,85.108733,82.704606
29,2753.1,2759.238095,89.0,28625.738535,162.678269,81.579278,-1.851852,NaN,89.657000,84.824468
30,2762.7,2769.723810,96.0,20714.181269,129.629630,81.740091,-13.008130,NaN,88.118539,87.628091
31,2773.3,2779.409524,106.0,18672.213677,91.423519,81.915510,-12.195122,NaN,88.329376,88.701638
32,2785.9,2791.552381,126.0,23712.116601,104.138702,85.724903,-3.053435,NaN,87.301678,87.916531
33,2801.0,2806.600000,151.0,34348.688877,122.042478,88.935928,-0.632911,NaN,91.991287,89.207447
34,2820.0,2826.247619,190.0,44660.739153,162.932576,91.881396,-4.716981,40.488034,95.228137,91.507034
35,2839.1,2844.142857,191.0,48543.732929,133.727392,91.934413,-5.445545,45.844737,94.051318,93.756914
36,2859.1,2862.323810,200.0,55264.618298,117.303307,92.820070,-0.526316,50.875262,94.200059,94.493171
37,2875.5,2878.542857,164.0,47051.523899,109.118291,92.871233,-15.841584,54.316554,88.512228,92.254535
38,2892.5,2896.047619,170.0,42624.311391,103.815130,94.049137,-7.865169,58.388032,86.191626,89.634638
39,2911.6,2917.190476,191.0,61438.241602,122.686978,95.502405,-0.000000,64.422518,86.481481,87.061779

In [14]:
df_res = pd.concat([df, df_ti], axis=1)
df_res[:40]
# type(df), type(df_ti)

,Date,SecuritiesCode,Open,High,Low,Close,Volume,Target,SMA,WMA,MOM,ADO,CCI,RSI,LWR,MACD,STCK,STCD
0,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,0.000730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-05,1301,2743.0,2747.0,2735.0,2738.0,17900,0.002920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-06,1301,2734.0,2744.0,2720.0,2740.0,19900,-0.001092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-10,1301,2745.0,2754.0,2735.0,2748.0,24200,-0.005100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-11,1301,2748.0,2752.0,2737.0,2745.0,9300,-0.003295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-01-12,1301,2745.0,2747.0,2703.0,2731.0,28700,-0.006613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-01-13,1301,2707.0,2730.0,2707.0,2722.0,19400,-0.006657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-01-16,1301,2725.0,2725.0,2696.0,2704.0,20100,0.002978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-01-17,1301,2702.0,2704.0,2682.0,2686.0,18400,0.001856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.920764,36.255299
9,2017-01-18,1301,2689.0,2695.0,2681.0,2694.0,12100,0.014079,2725.0,NaN,NaN,2936.575048,-129.141566,NaN,-82.432432,NaN,13.068120,22.435180
10,2017-01-19,1301,2694.0,2717.0,2694.0,2699.0,13200,-0.006211,2720.7,NaN,-43.0,620.384684,-63.209877,25.842697,-75.342466,NaN,20.715316,17.568067
11,2017-01-20,1301,2724.0,2737.0,2705.0,2737.0,26000,0.002574,2720.6,NaN,-1.0,7889.180928,29.037391,49.703641,-23.287671,NaN,52.143888,28.642441
12,2017-01-23,1301,2730.0,2731.0,2712.0,2720.0,12600,0.001467,2718.6,NaN,-20.0,9512.566771,14.184397,42.850191,-46.575342,NaN,68.792517,47.217240
13,2017-01-24,1301,2718.0,2728.0,2718.0,2727.0,21300,0.000732,2716.5,2718.209524,-21.0,14733.718545,42.024833,46.241554,-35.211268,NaN,83.928571,68.288325
14,2017-01-25,1301,2732.0,2737.0,2724.0,2731.0,15100,-0.002195,2715.1,2719.171429,-14.0,15899.795732,85.842852,48.193481,-24.242424,NaN,79.277409,77.332832
15,2017-01-26,1301,2738.0,2739.0,2729.0,2733.0,16200,0.002567,2715.3,2720.504762,2.0,13900.482242,94.051180,49.217847,-10.344828,NaN,83.514103,82.240028
16,2017-01-27,1301,2739.0,2739.0,2726.0,2727.0,19100,-0.004389,2715.8,2721.085714,5.0,6676.593373,69.067664,46.174498,-20.689655,NaN,74.651669,79.147727
17,2017-01-30,1301,2726.0,2734.0,2725.0,2734.0,16500,0.004776,2718.8,2722.723810,30.0,8364.403074,60.677699,50.168748,-8.620690,NaN,71.366324,76.510699
18,2017-01-31,1301,2730.0,2731.0,2715.0,2722.0,16100,-0.002194,2722.4,2722.895238,36.0,7654.129491,8.707301,43.955720,-29.310345,NaN,53.637566,66.551853
19,2017-02-01,1301,2717.0,2735.0,2717.0,2735.0,16600,-0.003298,2726.5,2725.019048,41.0,11949.551253,41.853513,51.226392,-8.888889,NaN,62.896825,62.633572
20,2017-02-02,1301,2735.0,2736.0,2725.0,2729.0,17000,0.001838,2729.5,2726.304762,30.0,11145.239794,39.591315,48.030958,-29.411765,NaN,56.944444,57.826279
21,2017-02-03,1301,2722.0,2733.0,2720.0,2720.0,16300,0.002202,2727.8,2726.323810,-17.0,4616.636034,-60.931900,43.507703,-70.370370,NaN,55.158730,58.333333
22,2017-02-06,1301,2733.0,2735.0,2718.0,2725.0,17800,0.002197,2728.3,2726.857143,5.0,526.684161,-47.720798,46.611292,-58.333333,NaN,43.253968,51.785714
23,2017-02-07,1301,2725.0,2736.0,2724.0,2731.0,18600,0.000000,2728.7,2727.819048,4.0,-207.994711,37.037037,50.255153,-33.333333,NaN,48.370927,48.927875
24,2017-02-08,1301,2726.0,2737.0,2725.0,2737.0,16500,0.002923,2729.3,2729.228571,6.0,4760.363452,91.900312,53.761640,-8.333333,NaN,73.767753,55.130883
25,2017-02-09,1301,2725.0,2747.0,2725.0,2737.0,18200,0.013479,2729.7,2730.276190,4.0,6886.559576,152.173913,53.761640,-31.250000,NaN,79.733817,67.290832
26,2017-02-10,1301,2737.0,2750.0,2737.0,2745.0,28400,0.006830,2731.5,2732.390476,18.0,9215.630897,205.128205,58.568967,-14.285714,NaN,83.297414,78.932995
27,2017-02-13,1301,2760.0,2789.0,2756.0,2782.0,35900,0.008211,2736.3,2739.200000,48.0,15907.369937,267.018006,72.996466,-9.459459,NaN,79.707670,80.912967
28,2017-02-14,1301,2783.0,2818.0,2776.0,2801.0,47200,0.000354,2744.2,2748.019048,79.0,20059.381065,206.278581,77.472451,-16.831683,NaN,85.108733,82.704606
29,2017-02-15,1301,2820.0,2826.0,2807.0,2824.0,34600,0.000354,2753.1,2759.238095,89.0,28625.738535,162.678269,81.579278,-1.851852,NaN,89.657000,84.824468
30,2017-02-16,1301,2829.0,2841.0,2825.0,2825.0,27700,0.008846,2762.7,2769.723810,96.0,20714.181269,129.629630,81.740091,-13.008130,NaN,88.118539,87.628091
31,2017-02-17,1301,2825.0,2833.0,2811.0,2826.0,26600,0.010873,2773.3,2779.409524,106.0,18672.213677,91.423519,81.915510,-12.195122,NaN,88.329376,88.701638
32,2017-02-20,1301,2838.0,2855.0,2831.0,2851.0,35700,0.015614,2785.9,2791.552381,126.0,23712.116601,104.138702,85.724903,-3.053435,NaN,87.301678,87.916531
33,2017-02-21,1301,2853.0,2883.0,2850.0,2882.0,35900,0.000342,2801.0,2806.600000,151.0,34348.688877,122.042478,88.935928,-0.632911,NaN,91.991287,89.207447
34,2017-02-22,1301,2900.0,2937.0,2895.0,2927.0,54500,0.005806,2820.0,2826.247619,190.0,44660.739153,162.932576,91.881396,-4.716981,40.488034,95.228137,91.507034
35,2017-02-23,1301,2903.0,2939.0,2903.0,2928.0,30100,0.000340,2839.1,2844.142857,191.0,48543.732929,133.727392,91.934413,-5.445545,45.844737,94.051318,93.756914
36,2017-02-24,1301,2923.0,2946.0,2919.0,2945.0,32400,0.008486,2859.1,2862.323810,200.0,55264.618298,117.303307,92.820070,-0.526316,50.875262,94.200059,94.493171
37,2017-02-27,1301,2950.0,2978.0,2931.0,2946.0,51600,0.014810,2875.5,2878.542857,164.0,47051.523899,109.118291,92.871233,-15.841584,54.316554,88.512228,92.254535
38,2017-02-28,1301,2963.0,2985.0,2949.0,2971.0,45400,0.001658,2892.5,2896.047619,170.0,42624.311391,103.815130,94.049137,-7.865169,58.388032,86.191626,89.634638
39,2017-03-01,1301,2984.0,3015.0,2977.0,3015.0,77000,0.006623,2911.6,2917.190476,191.0,61438.241602,122.686978,95.502405,-0.000000,64.422518,86.481481,87.061779

Remove first 34 rows with NaN values for each stock:

In [15]:
for code in sec_codes:
    stock_indexes_to_remove = df[df.SecuritiesCode == code].index.to_list()[0:34]
    df_res.drop(stock_indexes_to_remove, axis=0, inplace=True)
df_res.shape

(2264531, 18)

In [16]:
df_res.isna().sum()

Date              0
SecuritiesCode    0
Open              0
High              0
Low               0
Close             0
Volume            0
Target            0
SMA               0
WMA               0
MOM               0
ADO               0
CCI               0
RSI               0
LWR               0
MACD              0
STCK              0
STCD              0
dtype: int64

In [17]:
df_res.to_csv("~/study/optimal_investment/stock-market-prediction-project/data/my/test_data_2.csv", index=False)